**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
artifacts/
TestResults/
BenchmarkDotNet.Artifacts/
*.db
*.db-shm
*.db-wal
*.log
*.etl
*.dmp
*.msix
*.msixbundle
*.appx
*.appxbundle
GeneratedFiles/
.tools/
